@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.jumbotron {
  margin-top: 20px;
}

#subtitle-form, #audio-form, #video-file-form {

  // input[type="radio"] {
  //   margin-left: 5px;
  // }
  input[type="submit"] {
    font-size: 0.8em;
    padding: 10px;
    letter-spacing: 2px;
    padding-right: 20px;
    padding-left: 50px;
    background: #FFBD54;
    // background-color: #212529;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 400;
    margin-top: 40px;
    transition: 0.5s ease;
    position: relative;
    left: -15px;
    opacity: 1;
    &.disabled {
      opacity: 0.7;
    }
 }
  input[type="submit"]:hover{
  background-color: #efaa3b;
  transition: 0.5s ease;
 }

 input[type="submit"]:active{
  background-color: #fcc671;
 }
   input[type="submit"]:focus{
  -webkit-appearance: none;
  border: none;
  outline: none;
 }

   #filetypelabel{
    margin-top: 20px;

   }
   #filetypeselect{
    margin-bottom: 20px;
   }

}

#result-indicator {
  .success {
    color: dodgerblue;
  }
  .danger {
    margin-top: 20px;
    background-color: #FFE0DF;
    color: #F92E2B;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
    border: solid 1px #F92E2B;

  }
}

#app{
  text-align: center;

  h2{
    // font-family: "Roboto";
    font-size: 3em;
    font-weight: 700;
    background-color: white;
    border-radius: 50px;
    width: 50%;
    margin: auto;
    padding: 10px;
    border: solid 5px 212529;
  }

  #dogicon{
    font-size: 4em;

    //yellow gradient
    background: #FFBC3A;
    background: -webkit-linear-gradient(to right, #FFBD54, #FFBC3A);
    background: linear-gradient(to right, #FFBD54, #FFBC3A);

    border-radius: 50%;
    padding: 20px;
    color: white;
    position: relative;
    top: 15px;
    -webkit-box-shadow: 0px 0px 74px -28px rgba(107,107,107,1);
    -moz-box-shadow: 0px 0px 74px -28px rgba(107,107,107,1);
    box-shadow: 0px 0px 74px -28px rgba(107,107,107,1);
  }

  hr{
    margin-bottom: 30px;
    margin-top: 30px;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
  }

  li {
    list-style: none;
    background-color: #f1f1f1;
    margin: 10px;
    color: #212529;
    border-radius: 5px;
    padding: 5px;
    border: solid 2px #f1f1f1;
    cursor: pointer;
    font-weight: 100;

    &:hover{
      border: solid 2px #FFBD54;
    }

    .langcode{
      color: darkgrey;
      font-weight: 200;
    }
  }

  #autocaptionheader{
    cursor: pointer;
  }
}

body{
  // font-family: "Roboto";
  background: white;
  // background: -webkit-linear-gradient(to right, #FFBD54, #FFBC3A);
  // background: linear-gradient(to right, #FFBD54, #FFBC3A);
}

#downloadicon{
  font-size: 1.25em;
  color: white;
  position: relative;
  left: 20px;
  top: 2.5px;
  z-index: 1000;
}

#video-url{
  font-size: 1.25em;
  border-radius: 5px;
  padding: 4px;
}

#video-url:valid:focus{
  border: solid 2px #33CC66;
  outline: none;
}

#video-url:invalid:focus{
   border: solid 2px tomato;
   outline: none;
}

#video-url{
  border: solid 2px rgba(0,0,0,.2);
}

 #app .languagelist .clicked{
  border: solid 2px #FFBD54;

}

#app .languagelist li:active{
  opacity:0.7;
}


#loadspinner{
  font-size: 3em;
  margin: 20px;
}

// .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined{
//   background-color: white !important;
//   border-radius: 5px;
//   padding-left: 10px;
//   padding-right: 10px;
// }

.MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal{
  background-color: white !important;
  border: solid 20px white;
}

.MuiPaper-root.MuiPaper-elevation1{
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #e9ecef;
  box-shadow: none;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary:hover{
  color: #212529;
}

button:active, button:focus{
  outline: none;
}

#loading-indicator{
  font-weight: 500;
  background-color: rgba(33, 37, 41, 0.1);
  border: solid 1px #212529;
  border-radius: 3px;
  padding: 5px;
  display: inline-block;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  }

.loadvisible{
  visibility: visible;
}

.loadhidden{
  visibility: hidden;
}

.aboutlink {
    background: #eaecef;
    width: 100px;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
}

div#footer {
  display: flex;
  justify-content: center;
}

#footer .footerBadge {
  display: flex;
  padding: 8px;
}

#version {
  font-size: small;
  font-family: monospace;
  color: white;
  height: 3em;
  align-self: center;
}
