body{
  text-align: center;
 margin-bottom: 50px;

}

.jumbotron{
  text-align: center;
  border-radius: 5px;
  margin-top: 50px;
  max-width: 70%;
  padding-left: 50px;
  padding-right: 50px;
  background: #e9ecef;
  background-color: #e9ecef;
  padding-top: 20px;
}

#dogicon {
    font-size: 4em;
    background: #FFBC3A;
    background: -webkit-linear-gradient(to right, #FFBD54, #FFBC3A);
    background: linear-gradient(to right, #FFBD54, #FFBC3A);
    border-radius: 50%;
    padding: 20px;
    color: white;
    position: relative;
    top: 15px;
    -webkit-box-shadow: 0px 0px 74px -28px #6b6b6b;
    -moz-box-shadow: 0px 0px 74px -28px #6b6b6b;
    box-shadow: 0px 0px 74px -28px #6b6b6b; 
}

a{
  color: #007bff;
  text-decoration: none;
  position: relative;
  top: 20px;
  font-size: 1.25em;
  font-weight: 500;
  padding-bottom: 50px;
}

a:hover{
  color: #007bff;
  text-decoration: none;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    background-color: white;
    border-radius: 50px;
    width: 50%;
    margin: auto;
    padding: 10px;
}



.jumbotron p{
  font-size: 1.25em;
  text-align: left;
}

.jumbotron h3{
  font-size: 2.5em;
  font-weight: 800;
}

h4{
  font-size: 2.5em;
  font-weight: 100;
  margin-top: 70px;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 40px;
}

.feature h5{
    font-size: 2em;

}

.feature img{
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  border: solid 1px #212529;
}

hr{
  border-top: 1px solid #d5d5d5;
}

.feature hr{
  width: 50%;
  border-top: 1px solid #d5d5d5;
}

.featuresgrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 50px;
  grid-row-gap: 40px;
}





